
.search-form {
    width: 96%;
}
.city, .search-btn {
    height: 54px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.city {
    border-radius: 10px 0 0 10px;
    width: calc(100% - 60px);
}

.search-btn {
    border-radius: 0 10px 10px 0;
    background-color: #fff;
    transform: translateX(-2px);
    width: 60px;
}